*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(211, 209, 209);
    width: 90%;
    margin: 20px auto;
    padding-bottom: 20px;
}
.conf{
    border: 2px solid rgb(194, 192, 192);
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search{
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.search input{
    width: 50%;
    height: 40px;
    margin-right: 20px;
    padding-left: 15px;
    font-size: 1.1rem;
    border: 2px solid rgb(211, 209, 209);
    border-radius: 10PX;
}
.search img{
    background-color: rgb(0, 162, 255);
    width: 40px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.agreagr{
 width: 40px;
 margin-right:20px ;
 cursor: pointer;
}

.tabla{
    margin: 30px;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    
}
.tabla table{
    width: 90%;
    border-collapse: collapse;
}

.tabla tr{
    font-size: 17px;
}
.tabla_header{
    position: sticky;
    top:0;
    z-index: 10;
}
.tabla tr img{
    cursor: pointer;
    width: 30px;
}
.tabla tr:nth-child(odd) {
    height: 50px;
    background-color: rgb(211, 209, 209); /* Color para filas impares */
}

table tr:nth-child(even) {
    height: 50px;
    background-color: #ffffff; /* Color para filas pares */
}


/*------------------------------------PANEL-----------------------------*/
#registerPanel {
    position: fixed; /* Posición fija para que flote */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste para centrar */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegurar que esté encima de otros elementos */
    display: none; /* Oculto por defecto */
    width: 80%; /* Ancho máximo */
    text-align: center;
  }
  #registerPanel input{
    padding-left: 10px;
  }
  
  .hidden {
    display: none;
  }

  .imagenRg{
    width: 50%;
    padding: 5px;
  }
  .imagenRg img{
    width: 100%;
  }
  .formulario{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .formulario h2{
    margin-bottom: 50px;
  }
  .formulario input{
    margin-top: 5px;
    height: 30px;
    width: 250px;
    border-radius:5px ;
  }
  
  .etiqueta{
    display: flex;
    justify-content: space-evenly;
    
  }
  .etiqueta img{
    width: 30px;
    position: absolute;
    right: 90px;
    cursor: pointer;
  }
  .etiqueta img:hover{
    background-color: rgba(128, 128, 128, 0.74);
    border-radius: 50%;
  }
  .cantidadP{
    display: flex;
  }
  .cantidadP input{
    width: 150px;
    margin-right: 20px;
  }

  #contenedor{
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    max-height: 250px; 
    overflow-y: auto; 
  }
  
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 999; /* Justo debajo del panel */
    display: none; /* Oculto por defecto */
  } 

  .calTotal input{
    width: 70px;
    font-size: 20px;
    margin-left: 5px;
    border: none;
  }
  .calTotal label{
    font-size: 20px;
  }
  #calcularTotal{
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    border: 2px solid black;
    height: 30px;
  }

  .boton{
    background-color: rgb(0, 162, 255);
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
  }
  #cerrar{
    position: absolute;
    top: 10;
    left: 95%;
    background-color: red;
    color: black;
    font-style: none;
    padding: 5px 7px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
  }
 

  #panelDetalle{
    display: none;
    background-color: white;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 1000;
    overflow: hidden;
  }
  .contTable{
    height: 250px;
    margin-top: 20px;
    
  }

   #detalleContenido{
    border-collapse: collapse;
  }

 
